/////////////////////////////////////////////
/////////////////////////////////////////////
//////////////// FOOTER FILE  ///////////////
/////////////////////////////////////////////
/////////////////////////////////////////////

footer {
  background-color: #333333;
  display: flex;
  flex-wrap: wrap;
  column-gap: 180px;
  align-items: center;
  padding: 115px 200px;
  #logo {
    width: 107px;
  }
  .footer_nav {
    display: grid;
    a {
      text-decoration: none;
      color: #ffffff;
      margin: 20px 0;
      font-family: Saira Condensed;
      font-style: normal;
      font-weight: bold;
      font-size: 22px;
      line-height: 32px;
      /* identical to box height */
      letter-spacing: 0.05em;
      text-transform: capitalize;
    }
  }
  .last_events, .last_articles, .footer_social {
    display: grid;
    p {
      text-decoration: none;
      margin: 15px 0;
      font-family: Saira Condensed;
      font-style: normal;
      font-weight: bold;
      font-size: 22px;
      line-height: 32px;
      /* identical to box height */
      letter-spacing: 0.05em;
      text-transform: capitalize;
    }
    p:nth-child(1) {
      color: white;
      margin-bottom: 34px;
    }
    p:nth-child(n + 2) {
      color: #9d9c9c;
    }
    #icons{
      display: flex;
      flex-wrap: wrap;
      column-gap: 21px;
    }
  }
}
