/////////////////////////////////////////////
/////////////////////////////////////////////
//////////////// GENERAL FILE  //////////////
/////////////////////////////////////////////
/////////////////////////////////////////////


#app{
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
}

.pages{
    padding-top: $padding-pages-top-desktop;
}